<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Holiday Management Tests">
            <file>tests/HolidayServiceTest.php</file>
            <file>tests/HolidayControllerTest.php</file>
            <file>tests/DateValidatorTest.php</file>
        </testsuite>
        <testsuite name="Booking Management Tests">
            <file>tests/BookingControllerTest.php</file>
            <file>tests/EditBookingTest.php</file>
            <file>tests/PropertyFormTest.php</file>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>

    <php>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
